<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-5.3.0/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
    </head>
    <body>
        <header>
        </header>

        <div class="content-container reset">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <form id="login-form" action="/rst_user" method="post">
                        <img id="logo" src="{{ url_for('static', filename='icons/Hyundai_Logo_Hor_Blue.png') }}" alt="Hyundai logo" class="logo">
                        <h2 class="card-title text-uppercase">Reset Password</h2>
                        <p class="card-text">Please enter the HMC and Master Key!</p>
                        
                        <div class="input-form">
                            <div class="form-floating mb-3">
                                <input type="hmc" class="form-control custom-input" name="hmc" id="floatingInput" placeholder="3710XXXX">
                                <label for="floatingInput">HMC</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control custom-input" name="master" id="floatingMaster" placeholder="Master Key">
                                <label for="floatingMaster">Master Key</label>
                            </div>
                            {% if error|default(None) == 0 %}
                            {% elif error|default(None) == 1 %}
                            <div id="errorMessage" class="alert alert-danger" style="">Incorrect HMC</div>
                            {% elif error|default(None) == 2 %}
                            <div id="errorMessage" class="alert alert-danger" style="">Incorrect Master Key</div>
                            {% else %}
                            {% endif %}

                        </div>
        
                        <p><a class="forgot"  href="{{ url_for('login') }}">Login Page</a></p>
        
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>

        
        <script src="{{ url_for('static', filename = 'bootstrap-5.3.0/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/btn_manager.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    </body>
</html>
